/**
 * File generated automatically by <root>/scripts/make-colors.js
 * @module @react-leaf/core
 */

$white: #ffffff;
$black: #111827;
$colors: (
  'blue': (
    '1': #000069,
    '2': #090d86,
    '3': #1b20a7,
    '4': #2d32c8,
    '5': #464bdd,
    '6': #696df2,
    '7': #8b8fff,
    '8': #b3b6ff,
    '9': #e2e3ff,
    '10': #f3f4ff,
    '11': #f9f9ff,
  ),
  'orange': (
    '1': #6f1a00,
    '2': #8f3200,
    '3': #b3480f,
    '4': #d75e1d,
    '5': #eb7637,
    '6': #fd955e,
    '7': #ffb584,
    '8': #ffd0af,
    '9': #ffede0,
    '10': #fff8f3,
    '11': #fffbf9,
  ),
  'red': (
    '1': #6f0000,
    '2': #8e0101,
    '3': #b21010,
    '4': #d61f1f,
    '5': #ea3939,
    '6': #fc5f5f,
    '7': #ff8585,
    '8': #ffafaf,
    '9': #ffe0e0,
    '10': #fff3f3,
    '11': #fff9f9,
  ),
  'violet': (
    '1': #140065,
    '2': #2e107e,
    '3': #45259d,
    '4': #5c3abb,
    '5': #7351d2,
    '6': #9171ea,
    '7': #af91ff,
    '8': #cbb6ff,
    '9': #ebe3ff,
    '10': #f7f4ff,
    '11': #fbf9ff,
  ),
  'gray': (
    '1': #000000,
    '2': #090909,
    '3': #1a1a1a,
    '4': #2c2c2c,
    '5': #454545,
    '6': #686868,
    '7': #8b8b8b,
    '8': #b3b3b3,
    '9': #e2e2e2,
    '10': #f3f3f3,
    '11': #f9f9f9,
  ),
  'green': (
    '1': #006101,
    '2': #15791c,
    '3': #2c9632,
    '4': #42b349,
    '5': #58ca60,
    '6': #77e47e,
    '7': #94fe9b,
    '8': #b9ffbd,
    '9': #e4ffe6,
    '10': #f4fff5,
    '11': #fafffa,
  ),
);
