:root {
  --leaf-ff: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;

  --leaf-fz-sm: 0.875rem;
  --leaf-fz-md: 1rem;
  --leaf-fz-lg: 1.125rem;
}
